body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid;
}

.ContentFlex {
  display: flex;
  flex-direction: column;
  algin-content: center;
  flex-wrap: wrap;
}

.ContentFlex > div {
  flex: 50%;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

#linkDiv {
  padding: 10px 10px;
}