html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;  
  min-height: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

span {
  font-size: 40px;
}

h1 {
  margin: 0;  
}

.TopNavBar {
  display: flex;
  background-color: white;
  margin-bottom: 5px;
}

.TopNavBar > div {
  padding: 10px 10px 10px 10px;  
  font-family: 'Open Sans', sans-serif;
  flex: 50%;
}

.LeftTopNavBar {
  display: flex;
  flex-direction: row;  
}

.RightTopNavBar{
  display: flex;
  flex-direction: row-reverse;
}

.RightTopNavBar > * , .LeftTopNavBar > * {
  padding: 10px;
  display: inline-block;
  align-self: center;
}

.MiddleTopNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InfoBar {  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  flex-direction: column;
  margin-bottom: 30px;
}

#PortraitTopNavBar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid black;
}

.MainBar {
  display: flex;
  justify-content: center;
/*   align-items: center; */
  flex-direction: row;
}

.MainBar > * {
  flex: 50%;
}

#PortraitImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 100px;
  max-width: 90%;
  max-height: 90%;
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.InfoMainBar {
  margin-left: 50px;
}

.ProjectMainBar {
  
}

.InterestBar {
  display: flex;
  flex-direction: row;  
}

.InterestBar > * {
  padding: 10px;
  flex: 50%;
  border: 1px solid black;
}

#InterestIcon {
  width: 100px;
  height: 100px;
}